In [89]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

pd.set_option("max_colwidth", 150)

In [180]:
f = "https://github.com/cs6220/cs6220.spring2019/raw/master/data/Online%20Retail.xlsx"
df = pd.read_excel(f)
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [91]:
basket = (df[df['Country'] =="United Kingdom"]
          .groupby(['InvoiceNo', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('InvoiceNo'))

In [92]:
basket.head()

Description,20713,4 PURPLE FLOCK DINNER CANDLES,50'S CHRISTMAS GIFT BAG LARGE,DOLLY GIRL BEAKER,I LOVE LONDON MINI BACKPACK,NINE DRAWER OFFICE TIDY,OVAL WALL MIRROR DIAMANTE,RED SPOT GIFT BAG LARGE,SET 2 TEA TOWELS I LOVE LONDON,SPACEBOY BABY GIFT SET,...,wrongly coded 20713,wrongly coded 23343,wrongly coded-23343,wrongly marked,wrongly marked 23343,wrongly marked carton 22804,wrongly marked. 23343 in box,wrongly sold (22719) barcode,wrongly sold as sets,wrongly sold sets
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536365,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536366,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536367,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536368,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536369,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [93]:
basket_sets = basket.applymap(lambda x: 1 if x >= 1 else 0)

In [94]:
basket_sets.head()

Description,20713,4 PURPLE FLOCK DINNER CANDLES,50'S CHRISTMAS GIFT BAG LARGE,DOLLY GIRL BEAKER,I LOVE LONDON MINI BACKPACK,NINE DRAWER OFFICE TIDY,OVAL WALL MIRROR DIAMANTE,RED SPOT GIFT BAG LARGE,SET 2 TEA TOWELS I LOVE LONDON,SPACEBOY BABY GIFT SET,...,wrongly coded 20713,wrongly coded 23343,wrongly coded-23343,wrongly marked,wrongly marked 23343,wrongly marked carton 22804,wrongly marked. 23343 in box,wrongly sold (22719) barcode,wrongly sold as sets,wrongly sold sets
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536365,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536366,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536367,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536368,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536369,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [133]:
frequent_one_itemsets = apriori(basket_sets, min_support=0.062, use_colnames=True)

In [134]:
frequent_one_itemsets

    support                              itemsets
0  0.062205       (ASSORTED COLOUR BIRD ORNAMENT)
1  0.087931             (JUMBO BAG RED RETROSPOT)
2  0.063158             (LUNCH BAG RED RETROSPOT)
3  0.072323                       (PARTY BUNTING)
4  0.076452            (REGENCY CAKESTAND 3 TIER)
5  0.098276  (WHITE HANGING HEART T-LIGHT HOLDER)

In [135]:
frequent_two_itemsets = apriori(basket_sets, min_support=0.02, use_colnames=True)

In [136]:
frequent_two_itemsets = frequent_two_itemsets[236:241]

In [106]:
frequent_two_itemsets

,support,itemsets
236,0.024773,"(ROSES REGENCY TEACUP AND SAUCER , PINK REGENCY TEACUP AND SAUCER)"
237,0.021234,"(RED HANGING HEART T-LIGHT HOLDER, WHITE HANGING HEART T-LIGHT HOLDER)"
238,0.020780,"(RED RETROSPOT CHARLOTTE BAG, STRAWBERRY CHARLOTTE BAG)"
239,0.020599,"(ROSES REGENCY TEACUP AND SAUCER , REGENCY CAKESTAND 3 TIER)"
240,0.023956,"(WOODEN PICTURE FRAME WHITE FINISH, WOODEN FRAME ANTIQUE WHITE )"

In [161]:
frequent_itemsets = apriori(basket_sets, min_support=0.025, use_colnames=True, max_len=2)

In [166]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold= 0.2)

In [167]:
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(ALARM CLOCK BAKELIKE GREEN),(ALARM CLOCK BAKELIKE RED ),0.039746,0.042196,0.025544,0.642694,15.231158,0.023867,2.680627
1,(ALARM CLOCK BAKELIKE RED ),(ALARM CLOCK BAKELIKE GREEN),0.042196,0.039746,0.025544,0.605376,15.231158,0.023867,2.433341
2,(PINK REGENCY TEACUP AND SAUCER),(GREEN REGENCY TEACUP AND SAUCER),0.031897,0.042377,0.026180,0.820768,19.368019,0.024828,5.342926
3,(GREEN REGENCY TEACUP AND SAUCER),(PINK REGENCY TEACUP AND SAUCER),0.042377,0.031897,0.026180,0.617773,19.368019,0.024828,2.532797
4,(ROSES REGENCY TEACUP AND SAUCER ),(GREEN REGENCY TEACUP AND SAUCER),0.043421,0.042377,0.031806,0.732497,17.285056,0.029966,3.579862

In [141]:
import numpy as np
import pandas as pd
path ="https://raw.githubusercontent.com/cs6220/cs6220.spring2019/master/data/adult/"
names = pd.read_csv(path +"adult.names", sep="\n", header=None)
parse_cols = lambda x: x.str.split(":", expand=True).iloc[:, 0]
columns = np.roll(parse_cols(names.iloc[92:108, 0]), shift=-1)
df_adult = pd.read_csv(path +"adult.data", sep=",", header=None, index_col=False)
df_adult.columns = columns

In [168]:
df_adult

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,">50K, <=50K."
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [171]:
df_adult = df_adult.drop('age', axis=1)
df_adult = df_adult.drop('fnlwgt', axis=1)
df_adult = df_adult.drop('education-num', axis=1)
df_adult = df_adult.drop('capital-gain', axis=1)
df_adult = df_adult.drop('capital-loss', axis=1)
df_adult = df_adult.drop('hours-per-week', axis=1)

In [195]:
df_adult

,workclass,education,marital-status,occupation,relationship,race,sex,native-country,">50K, <=50K."
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States,<=50K
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,<=50K
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,<=50K
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,<=50K
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,<=50K
5,Private,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States,<=50K
6,Private,9th,Married-spouse-absent,Other-service,Not-in-family,Black,Female,Jamaica,<=50K
7,Self-emp-not-inc,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,>50K
8,Private,Masters,Never-married,Prof-specialty,Not-in-family,White,Female,United-States,>50K
9,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,>50K
10,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,Black,Male,United-States,>50K
11,State-gov,Bachelors,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,India,>50K
12,Private,Bachelors,Never-married,Adm-clerical,Own-child,White,Female,United-States,<=50K
13,Private,Assoc-acdm,Never-married,Sales,Not-in-family,Black,Male,United-States,<=50K
14,Private,Assoc-voc,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,?,>50K
15,Private,7th-8th,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,Mexico,<=50K
16,Self-emp-not-inc,HS-grad,Never-married,Farming-fishing,Own-child,White,Male,United-States,<=50K
17,Private,HS-grad,Never-married,Machine-op-inspct,Unmarried,White,Male,United-States,<=50K
18,Private,11th,Married-civ-spouse,Sales,Husband,White,Male,United-States,<=50K
19,Self-emp-not-inc,Masters,Divorced,Exec-managerial,Unmarried,White,Female,United-States,>50K
20,Private,Doctorate,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States,>50K
21,Private,HS-grad,Separated,Other-service,Unmarried,Black,Female,United-States,<=50K
22,Federal-gov,9th,Married-civ-spouse,Farming-fishing,Husband,Black,Male,United-States,<=50K
23,Private,11th,Married-civ-spouse,Transport-moving,Husband,White,Male,United-States,<=50K
24,Private,HS-grad,Divorced,Tech-support,Unmarried,White,Female,United-States,<=50K
25,Local-gov,Bachelors,Married-civ-spouse,Tech-support,Husband,White,Male,United-States,>50K
26,Private,HS-grad,Never-married,Craft-repair,Own-child,White,Male,United-States,<=50K
27,?,Some-college,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,South,>50K
28,Private,HS-grad,Divorced,Exec-managerial,Not-in-family,White,Male,United-States,<=50K
29,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,United-States,<=50K
...,...,...,...,...,...,...,...,...,...
32531,?,Bachelors,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,United-States,<=50K
32532,Private,Doctorate,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States,>50K
32533,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,Japan,>50K
32534,Private,Some-college,Divorced,Adm-clerical,Unmarried,White,Female,United-States,<=50K
32535,Private,12th,Never-married,Protective-serv,Own-child,Black,Male,United-States,<=50K
32536,Private,Bachelors,Never-married,Exec-managerial,Not-in-family,White,Female,United-States,>50K
32537,Private,HS-grad,Never-married,Craft-repair,Not-in-family,Black,Male,United-States,<=50K
32538,Private,Bachelors,Divorced,Prof-specialty,Unmarried,Black,Female,United-States,>50K
32539,?,Doctorate,Married-civ-spouse,?,Husband,White,Male,United-States,>50K
32540,State-gov,HS-grad,Separated,Adm-clerical,Own-child,White,Female,United-States,<=50K
32541,?,HS-grad,Separated,?,Not-in-family,Black,Female,United-States,<=50K
32542,?,HS-grad,Married-civ-spouse,?,Husband,White,Male,United-States,<=50K
32543,Local-gov,Assoc-acdm,Divorced,Prof-specialty,Unmarried,White,Female,United-States,<=50K
32544,Private,Masters,Divorced,Other-service,Not-in-family,Other,Female,United-States,<=50K
32545,Local-gov,Assoc-acdm,Married-civ-spouse,Adm-clerical,Wife,White,Female,United-States,>50K
32546,Private,Assoc-acdm,Divorced,Tech-support,Not-in-family,White,Female,United-States,<=50K
32547,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,Mexico,<=50K
32548,Self-emp-not-inc,Prof-school,Never-married,Prof-specialty,Not-in-family,White,Male,United-States,<=50K
32549,State-gov,Some-college,Divorced,Adm-clerical,Other-relative,White,Female,United-States,<=50K
32550,Self-emp-not-inc,Some-college,Married-civ-spouse,Craft-repair,Husband,White,Male,United-States,<=50K
32551,Private,10th,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,United-States,<=50K
32552,Private,Assoc-voc,Married-civ-spouse,Sales,Husband,White,Male,United-States,<=50K
32553,Private,Masters,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,Taiwan,<=50K
32554,Private,Masters,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,>50K
32555,Private,Some-college,Never-married,Protective-serv,Not-in-family,White,Male,United-States,<=50K
32556,Private,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,United-States,<=50K
32557,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,United-States,>50K
32558,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,United-States,<=50K
32559,Private,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,United-States,<=50K
32560,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States,>50K

In [200]:
df = pd.get_dummies(df_adult)
df

,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,workclass_ State-gov,workclass_ Without-pay,education_ 10th,...,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia,">50K, <=50K._ <=50K",">50K, <=50K._ >50K"
0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,1,0
1,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
5,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
6,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
7,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,1
8,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
9,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
10,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
11,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
12,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
13,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
14,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
15,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
16,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
17,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
18,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
19,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,1
20,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
21,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
22,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
23,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
24,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
25,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
26,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
27,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
28,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
29,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
32532,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
32533,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
32534,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
32535,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
32536,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
32537,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
32538,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
32539,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
32540,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,1,0
32541,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
32542,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
32543,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
32544,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
32545,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
32546,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
32547,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
32548,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
32549,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,1,0
32550,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
32551,0,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
32552,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
32553,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
32554,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
32555,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
32556,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
32557,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
32558,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
32559,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
32560,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1

In [185]:
frequent_itemsets = apriori(df, min_support=0.4, use_colnames=True, max_len=3)

In [186]:
frequent_itemsets

,support,itemsets
0,0.697030,(workclass_ Private)
1,0.459937,(marital-status_ Married-civ-spouse)
2,0.405178,(relationship_ Husband)
3,0.854274,(race_ White)
4,0.669205,(sex_ Male)
5,0.895857,(native-country_ United-States)
6,0.759190,"(>50K, <=50K._ <=50K)"
7,0.595928,"(workclass_ Private, race_ White)"
8,0.458954,"(workclass_ Private, sex_ Male)"
9,0.618378,"(workclass_ Private, native-country_ United-States)"
10,0.544609,"(workclass_ Private, >50K, <=50K._ <=50K)"
11,0.404902,"(marital-status_ Married-civ-spouse, relationship_ Husband)"
12,0.411842,"(marital-status_ Married-civ-spouse, race_ White)"
13,0.409048,"(marital-status_ Married-civ-spouse, sex_ Male)"
14,0.410553,"(marital-status_ Married-civ-spouse, native-country_ United-States)"
15,0.405147,"(relationship_ Husband, sex_ Male)"
16,0.588864,"(sex_ Male, race_ White)"
17,0.786862,"(native-country_ United-States, race_ White)"
18,0.635699,"(>50K, <=50K._ <=50K, race_ White)"
19,0.598507,"(native-country_ United-States, sex_ Male)"
20,0.464605,"(>50K, <=50K._ <=50K, sex_ Male)"
21,0.675624,"(>50K, <=50K._ <=50K, native-country_ United-States)"
22,0.403028,"(workclass_ Private, sex_ Male, race_ White)"
23,0.544455,"(workclass_ Private, native-country_ United-States, race_ White)"
24,0.456743,"(workclass_ Private, >50K, <=50K._ <=50K, race_ White)"
25,0.405669,"(workclass_ Private, native-country_ United-States, sex_ Male)"
26,0.478916,"(>50K, <=50K._ <=50K, workclass_ Private, native-country_ United-States)"
27,0.404871,"(marital-status_ Married-civ-spouse, relationship_ Husband, sex_ Male)"
28,0.542152,"(native-country_ United-States, sex_ Male, race_ White)"
29,0.401861,"(>50K, <=50K._ <=50K, sex_ Male, race_ White)"
30,0.580971,"(>50K, <=50K._ <=50K, native-country_ United-States, race_ White)"
31,0.411197,"(>50K, <=50K._ <=50K, native-country_ United-States, sex_ Male)"

In [191]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold= 0.8)

In [192]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(workclass_ Private),(race_ White),0.697030,0.854274,0.595928,0.854952,1.000795,0.000473,1.004681
1,(workclass_ Private),(native-country_ United-States),0.697030,0.895857,0.618378,0.887161,0.990293,-0.006062,0.922932
2,(marital-status_ Married-civ-spouse),(relationship_ Husband),0.459937,0.405178,0.404902,0.880342,2.172729,0.218545,4.971013
3,(relationship_ Husband),(marital-status_ Married-civ-spouse),0.405178,0.459937,0.404902,0.999318,2.172729,0.218545,791.672741
4,(marital-status_ Married-civ-spouse),(race_ White),0.459937,0.854274,0.411842,0.895433,1.048180,0.018931,1.393614
5,(marital-status_ Married-civ-spouse),(sex_ Male),0.459937,0.669205,0.409048,0.889356,1.328973,0.101255,2.989728
6,(marital-status_ Married-civ-spouse),(native-country_ United-States),0.459937,0.895857,0.410553,0.892628,0.996396,-0.001485,0.969929
7,(relationship_ Husband),(sex_ Male),0.405178,0.669205,0.405147,0.999924,1.494196,0.134000,4364.171954
8,(sex_ Male),(race_ White),0.669205,0.854274,0.588864,0.879945,1.030051,0.017179,1.213830
9,(native-country_ United-States),(race_ White),0.895857,0.854274,0.786862,0.878334,1.028165,0.021555,1.197758
10,(race_ White),(native-country_ United-States),0.854274,0.895857,0.786862,0.921089,1.028165,0.021555,1.319746
11,"(>50K, <=50K._ <=50K)",(race_ White),0.759190,0.854274,0.635699,0.837338,0.980176,-0.012857,0.895886
12,(sex_ Male),(native-country_ United-States),0.669205,0.895857,0.598507,0.894355,0.998324,-0.001005,0.985784
13,"(>50K, <=50K._ <=50K)",(native-country_ United-States),0.759190,0.895857,0.675624,0.889927,0.993381,-0.004502,0.946128
14,"(workclass_ Private, sex_ Male)",(race_ White),0.458954,0.854274,0.403028,0.878145,1.027944,0.010956,1.195901
15,"(workclass_ Private, native-country_ United-States)",(race_ White),0.618378,0.854274,0.544455,0.880457,1.030650,0.016191,1.219029
16,"(workclass_ Private, race_ White)",(native-country_ United-States),0.595928,0.895857,0.544455,0.913626,1.019835,0.010589,1.205722
17,"(workclass_ Private, >50K, <=50K._ <=50K)",(race_ White),0.544609,0.854274,0.456743,0.838662,0.981726,-0.008502,0.903239
18,"(workclass_ Private, sex_ Male)",(native-country_ United-States),0.458954,0.895857,0.405669,0.883900,0.986653,-0.005488,0.897010
19,"(workclass_ Private, >50K, <=50K._ <=50K)",(native-country_ United-States),0.544609,0.895857,0.478916,0.879377,0.981605,-0.008975,0.863379
20,"(marital-status_ Married-civ-spouse, relationship_ Husband)",(sex_ Male),0.404902,0.669205,0.404871,0.999924,1.494196,0.133909,4361.194804
21,"(marital-status_ Married-civ-spouse, sex_ Male)",(relationship_ Husband),0.409048,0.405178,0.404871,0.989789,2.442850,0.239134,58.253195
22,"(relationship_ Husband, sex_ Male)",(marital-status_ Married-civ-spouse),0.405147,0.459937,0.404871,0.999318,2.172729,0.218529,791.612734
23,(marital-status_ Married-civ-spouse),"(relationship_ Husband, sex_ Male)",0.459937,0.405147,0.404871,0.880275,2.172729,0.218529,4.968497
24,(relationship_ Husband),"(marital-status_ Married-civ-spouse, sex_ Male)",0.405178,0.409048,0.404871,0.999242,2.442850,0.239134,779.643457
25,"(native-country_ United-States, sex_ Male)",(race_ White),0.598507,0.854274,0.542152,0.905839,1.060362,0.030863,1.547639
26,"(sex_ Male, race_ White)",(native-country_ United-States),0.588864,0.895857,0.542152,0.920674,1.027702,0.014614,1.312845
27,(sex_ Male),"(native-country_ United-States, race_ White)",0.669205,0.786862,0.542152,0.810142,1.029587,0.015580,1.122622
28,"(>50K, <=50K._ <=50K, sex_ Male)",(race_ White),0.464605,0.854274,0.401861,0.864952,1.012501,0.004961,1.079075
29,"(native-country_ United-States, >50K, <=50K._ <=50K)",(race_ White),0.675624,0.854274,0.580971,0.859903,1.006589,0.003803,1.040181
30,"(>50K, <=50K._ <=50K, race_ White)",(native-country_ United-States),0.635699,0.895857,0.580971,0.913909,1.020150,0.011476,1.209683
31,"(>50K, <=50K._ <=50K, sex_ Male)",(native-country_ United-States),0.464605,0.895857,0.411197,0.885048,0.987934,-0.005022,0.905966